// Base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
}

.container {
  @include container;
}

.half-container {
  display: flex;
  flex-wrap: wrap;
}

hr {
  border: 0;
  height: 3px;
  background: $background-color;
  margin: 5px 0;
}

.card {
  @include card;

}

.content-center {
  text-align: center;
}

