// Base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
}

.container {
  @include container;
}

hr {
  border: 0;
  height: 3px;
  background: $background-color;
  margin: 5px 0;
}

.half {
  width: 50%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.full {
  width: 100%;
}

.right {
  margin-left: auto;
}

.content-center {
  text-align: center;
}

$margin-values: (
        5: 5px,
        10: 10px,
        15: 15px,
        20: 20px,
        30: 30px,
        50: 50px
);

@each $key, $value in $margin-values {
  .mt-#{$key} {
    margin-top: $value;
  }
  .mb-#{$key} {
    margin-bottom: $value;
  }
  .ml-#{$key} {
    margin-left: $value;
  }
  .mr-#{$key} {
    margin-right: $value;
  }
  .mx-#{$key} {
    margin-left: $value;
    margin-right: $value;
  }
  .my-#{$key} {
    margin-top: $value;
    margin-bottom: $value;
  }
}

$padding-values: (
        5: 5px,
        10: 10px,
        15: 15px,
        20: 20px,
        30: 30px,
        50: 50px
);

@each $key, $value in $padding-values {
  .pt-#{$key} {
    padding-top: $value;
  }
  .pb-#{$key} {
    padding-bottom: $value;
  }
  .pl-#{$key} {
    padding-left: $value;
  }
  .pr-#{$key} {
    padding-right: $value;
  }
  .px-#{$key} {
    padding-left: $value;
    padding-right: $value;
  }
  .py-#{$key} {
    padding-top: $value;
    padding-bottom: $value;
  }
}

.no-shadow {
  box-shadow: none !important;
}