@import "variables";

.white {
    color: $text-color;
    background-color: $white;
}

.primary {
  color: $white;
  background-color: $primary-color;

  &:hover {
    background-color: darken($primary-color, 10%);
  }

  &.no-hover {
    background-color: $primary-color;
  }
}

.secondary {
  color: $white;
  background-color: $secondary-color;

  &:hover {
    background-color: darken($secondary-color, 10%);
  }

  &.no-hover {
    background-color: $secondary-color;
  }

}

.tertiary {
  color: $white;
  background-color: $tertiary-color;

  &:hover {
    background-color: darken($tertiary-color, 10%);

    &.no-hover {
      background-color: $tertiary-color;
    }
  }
}

.dark {
  color: $white;
  background-color: $dark-grey;

  &:hover {
    background-color: darken($dark-grey, 10%);
  }

  &.no-hover {
    background-color: $dark-grey;
  }
}

.danger {
  color: $white;
  background-color: $remove-color;

  &:hover {
    background-color: darken($remove-color, 10%);
  }

  &.no-hover {
    background-color: $remove-color;
  }
}

.alert {
  color: $white;
  background-color: $alert-color;
}

.color-white {
  color: $white;
}