@import "variables";

.white {
    color: $text-color;
    background-color: $white;
}

.primary {
  color: $white;
  background-color: $primary-color;

  &:hover:not(.no-hover) {
    background-color: darken($primary-color, 10%);
  }
}

.secondary {
  color: $white;
  background-color: $secondary-color;

  &:hover:not(.no-hover) {
    background-color: darken($secondary-color, 10%);
  }

}

.tertiary {
  color: $white;
  background-color: $tertiary-color;

  &:hover:not(.no-hover) {
    background-color: darken($tertiary-color, 10%);
  }
}

.dark {
  color: $white;
  background-color: $dark-grey;

  &:hover:not(.no-hover) {
    background-color: darken($dark-grey, 10%);
  }
}

.danger {
  color: $white;
  background-color: $remove-color;

  &:hover:not(.no-hover) {
    background-color: darken($remove-color, 10%);
  }
}