$white: #ffffff;
$light-grey: #f4f4f4;
$dark-grey: #333;
$black: #00000019;

$beige: #F3E5D8;

$box-shadow: 0 0 10px rgba(0,0,0,0.1);


$background-color: $beige;
$text-color: $dark-grey;
$container-background: $white;

$header-color: $white;
$footer-color: $white;

$primary-color: #39D777;
$secondary-color: #2611A0;
$tertiary-color: #FF3268;

$back-color: #333;
$sort-color: #646464;
$remove-color: #d54444;
$alert-color: #ff607d;

@include color-variations($primary-color, $white, 'primary');
@include color-variations($secondary-color, $white, 'secondary');
@include color-variations($tertiary-color, $white, 'tertiary');
@include color-variations($dark-grey, $white, 'dark');
@include color-variations($remove-color, $white, 'danger');

@include active-color-variations($primary-color, $white, 'primary');
@include active-color-variations($secondary-color, $white, 'secondary');
@include active-color-variations($tertiary-color, $white, 'tertiary');
@include active-color-variations($dark-grey,$white, 'dark');
@include active-color-variations($remove-color, $white, 'danger');