$white: #ffffff;
$light-grey: #f4f4f4;
$dark-grey: #333;
$black: #00000019;

$beige: #F3E5D8;

$box-shadow: 0 0 10px rgba(0,0,0,0.1);


$background-color: $beige;
$text-color: $dark-grey;
$container-background: $white;

$header-color: $white;
$footer-color: $white;

$primary-color: #39D777;
$secondary-color: #2611A0;
$tertiary-color: #FF3268;

$back-color: #333;
$sort-color: #646464;
$remove-color: #d54444;