@import "../variables";

// Login Page styles
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: $background-color;

  .login-form {
    background-color: $container-background;
    padding: 20px;
    border-radius: 5px;
    box-shadow: $box-shadow;
    width: 100%;
    max-width: 400px;


  }
}
