// Page styles
.back-button {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: $primary-color;
  color: $secondary-color;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}