@import "../variables";

button, .button {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: $primary-color;
  color: $white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($primary-color, 10%);
  }

  &.navbar-button {
    background-color: transparent;
  }

  &.dark-button {
    color: $white;
    background-color: $back-color;

    &:hover {
      background-color: darken($sort-color, 10%);
    }

  }

  &.remove-filters {
    color: $white;
    background-color: $remove-color;

    &:hover {
      background-color: darken($remove-color, 10%);
    }
  }

}



