@import "../variables";

// Table styles
.table-container {
  width: 100%;
  overflow-x: auto;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: 'Arial', sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  thead tr {
    background-color: $primary-color;
    color: $secondary-color;
    text-align: left;

    a {
      color: $secondary-color;
      text-decoration: none;
      transition: color 0.3s ease;

      &.active {
        text-decoration: underline;
      }
    }
  }

  th, td {
    padding: 12px 15px;
  }

  tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  tbody tr:last-of-type {
    border-bottom: 2px solid $primary-color;
  }

  tbody tr:hover {
    background-color: $primary-color;
    color: $secondary-color;
  }
}
